body {
  font-family: "Open Sans";
  background-color: #0f0f0f;
  color: #6eb928;
}

.content {
  width: 700px;
  margin: 200px auto;
}

#day {
  text-align: center;
  font-size: 30px;
  margin: 5px;
}

#o {
  border-radius: 3px;
  background: #ccc;
  height: 4px;
}

#i {
  height: 100%;
  background-color: #6eb928;
}
